@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(67, 66, 66);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: rgb(67, 66, 66);
}
nav span {
  color: rgb(229, 124, 35);
}
nav a,
nav li {
  text-decoration: none;
  list-style-type: none;
  color: white;
  position: relative;
}
nav ul {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
nav ul li a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  transition: width 0.5s linear;
}
nav ul li a:hover:after {
  width: 100%;
}
nav .bar {
  font-size: 20px;
  color: #fff;
  display: none;
}
.responsive-navbar {
  width: 100%;
  height: auto;
  background-color: rgb(67, 66, 66);
  position: absolute;
  z-index: 6;
  text-align: center;
  font-size: 18px;
  line-height: 70px;
  font-weight: 600;
  display: none;
}
.responsive-links a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  nav .bar {
    display: inline;
  }
  .links {
    display: none;
  }
  nav {
    padding: 1rem;
  }
  .auto-type {
    font-size: 14px;
  }
}
main{
    border: 1px solid rgb(67, 66, 66);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

main .text{
    font-size: 95px; 
    text-align: center; 
    text-transform: uppercase; 
    line-height: 70px;
    font-weight: 900; 
    -webkit-font-smoothing: antialiased; 
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,rgba(0, 0, 0, 0.295));
    color: white;
}
.col-18 {
	display: inline-block;
	position: relative;
  width: 100%;
}
form{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 3rem 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 8px;
}
.textbox-18 {
	padding: 1rem;
	font-size: 14px;
	color: #333;
	height: 30px;
	width: 100%;
	letter-spacing: 1px;
	border: 1px solid transparent;
	border-bottom-color: #ccc;
	transition: 0.4s;
	outline: none;
    background-color: #ebeaea;
}
.textbox-18 ~ .focus-border-18:before,
.textbox-18 ~ .focus-border-18:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #3399FF;
	transition: 0.3s;
}
.textbox-18 ~ .focus-border-18:after {
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
}
.textbox-18 ~ .focus-border-18 i:before,
.textbox-18 ~ .focus-border-18 i:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	background-color: #3399FF;
	transition: 0.4s;
}
.textbox-18 ~ .focus-border-18 i:after {
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
}
.textbox-18:focus ~ .focus-border-18:before,
.textbox-18:focus ~ .focus-border-18:after {
	width: 100%;
	transition: 0.3s;
}
.textbox-18:focus ~ .focus-border-18 i:before,
.textbox-18:focus ~ .focus-border-18 i:after {
	height: 100%;
	transition: 0.4s;
}
.textarea{
    width: 100%;
    height: 150px;
}

button {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  width: 100%;
}
button:hover{
    background-color: #405bf559;
    color: #405cf5;
    font-weight: 700;
    border: 2px solid #405cf5;
}
@media screen and (max-width: 700px) {
  main .text{
    font-size: 48px;
    line-height: 35px;
    display: none !important;
  }
  form{
    width: 100%;
    height: 100%;
  }
}